/* font-family: 'Caramel', cursive; {deco} 
font-family: 'Merienda', cursive; {notes}
font-family: 'Sigmar One', cursive;{head}*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.dot {
    height: 600px;
    margin-left: 3rem;
}
.rounded{
    display: inline-block;

}
.pro-image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left:7.5rem;
    top: 3.6rem;
    transition: width 2s, height 2s;
    margin-bottom: 1rem;

}
.pro-image:hover {
    width: 220px;
    height: 220px;
}
.font-1{
    font-family: 'Sigmar One', cursive;
    font-size: 2vw;
}
.font-2{
    font-family: 'Merienda', cursive;
}
.font-3{
    font-family: 'Caramel', cursive; 
}
.b2{
    height: 3.5rem;
}