{% extends "base.html" %}
{% load static %}
{% block body %}


<div class="container m-2  p-3 mb-5 bg-body rounded">
    <div class="row" style="margin-top:4rem">
        <div class="col-md-6">
            <img src="{% static '/images/web-development-programmer-engineering-coding-website-augmented-reality-interface-screens-developer-project-engineer-programming-software-application-design-cartoon-illustration_107791-3863-removebg-p.png' %}" class="img-fluid mt-2" alt="">
        </div>
        <div class="col-md-6 ">
            <form style="width:18rem; margin-top:2rem; font-family: 'Merienda', cursive;" class="border p-3 shadow">
                 <!-- Name input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form5Example1" class="form-control" />
                    <label class="form-label" for="form5Example1">Name</label>
                </div> 
                    <!-- file input -->
                <div class="mb-4">
                    <label class="form-label" for="customFile">Default file input example</label>
                    <input type="file" class="form-control" id="customFile" />
                </div> 
                  <!-- Message input -->
                <div class="form-outline mb-4">
                    <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                    <label class="form-label" for="form4Example3">Message</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% include 'hod/footer.html' %} 
{% endblock %}