{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="container m-2  p-3 mb-5 bg-body rounded">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static '/images/web-development-programmer-engineering-coding-website-augmented-reality-interface-screens-developer-project-engineer-programming-software-application-design-cartoon-illustration_107791-3863-removebg-p.png' %}" class="img-fluid mt-2" alt="">
        </div>
        <div class="col-md-6 ">
            {% comment %} <div>
                <img style="width:100%;height: 100%;" src="{% static 'images/avatar.png' %}" alt="image">
            </div> {% endcomment %}
            <form style="width:18rem; margin-top:4rem; font-family: 'Merienda', cursive;" class="border p-3 shadow">
                <div class="mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Email address" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <input type="password" name="password"  class="form-control" placeholder="Password"  id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <div class="my-2">
                    New here? <a href="{% url 'register' %}"> Register</a> 
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}