<footer class="text-center text-white fixed-bottom" style="background-color:rgba(0,0,0,0.8);">
    <!-- Grid container -->
    <div class="container p-4" style=" height:5rem;"></div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="height:5rem; background-color:rgba(0,0,0,0.8);">
    <span style="color: rgba(255, 0, 0, 0.924); text-shadow: 2px 2px 3px black; font-size: 1.3vw;">©</span>  <span style="font-family: 'Merienda', cursive; text-shadow: 2px 2px 3px black; font-size: 1.3vw;"> 2021 Copyright:</span>
    <a class="text-white" href="https://mdbootstrap.com/"> <span style="color: rgba(255, 0, 0, 0.924); text-shadow: 2px 2px 3px black; font-size: 1.3vw;"> @</span> <span style="font-family: 'Kaushan Script', cursive; text-shadow: 2px 2px 3px black; font-size: 1.3vw;"> Carbon Entertaiment </span> <i class="fas fa-grin-beam-sweat" style="color: yellow; font-size: 1.3vw;"></i></a>
    </div>
    <!-- Copyright -->
</footer>