{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
    <!-- {% include "hod/navbar.html" %} -->
    <div class="row mt-4">
        <div class="col-md-5">
            <p>
                
            </p>
            <h2>

            </h2>

        </div>
        <div class="col-md-7" style="padding-top:3.5rem;">
            <img src="{% static '/images/pic.png' %}" class="img-fluid dot" alt="">
        </div>
    </div>

    <div class="row" style="margin-top:4rem">
        <div class="col-md-8">
            
        </div>
        <div class="col-md-4">
            <form style="width:18rem; margin-top:2rem; margin-bottom:2rem; font-family: 'Merienda', cursive;" class="border p-3 shadow">
                <div class="mb-3">
                    <input type="email" name="title" class="form-control" placeholder="Title address" id="exampleInputEmail1">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="customFile">upload image</label>
                    <input type="file" class="form-control" id="customFile" />
                </div>
                <div class="form-outline mb-3">
                    <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                    <label class="form-label" for="textAreaExample">Message</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>


</div>

{% endblock %}