{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
    <!-- {% include "hod/navbar.html" %} -->
    <div class="row mt-4">
        <div class="col-md-5">
            <div  style='margin-top:5rem;'>
                <p class="d-flex" style="font-size:28px; font-family: 'Merienda', cursive;"> Welcome to
                </p>
                <h2 style="font-size:3rem; font-family: 'Sigmar One', cursive;">
                    Bazenga Hoods
                </h2>
            </div>

            <div style="margin-top:10rem;">
                <div class='d-flex my-2' style="font-size:28px;font-family: 'Merienda', cursive;"> <div class="vl"></div class="px-2">By Bazenga <div class="vl"></div></div>
                <p style="font-size:20px; font-family: 'Merienda', cursive;">
                    A good is one who's always ready and willing to help; One who wipes the dirt off your face and heals your broken heart; One who inspires and gives you hope during life's darkest mommets.
                </p>
                <a href="#post" > <button
                type="button"
                class="btn btn-outline-warning btn-rounded"
                style="font-family: 'Merienda', cursive;"
                data-mdb-ripple-color="dark"
                >
                View posts
                </button></a>
            </div>
            <div style='margin-top:14rem;'>
                

            </div>
        </div>
        <div class="col-md-7" style="padding-top:3.5rem;">
            <img src="{% static '/images/pic.png' %}" class="img-fluid dot" alt="">
        </div>
    </div>

    <div class="row" id="post" style="margin-top:4rem">
        <div class="col-md-8">
            
        </div>
        <div class="col-md-4">
            <form style="width:18rem; margin-top:2rem; margin-bottom:2rem; font-family: 'Merienda', cursive;" class="border p-3 shadow">
            {% csrf_token %}
                <div class="mb-3">
                    <input type="email" name="title" class="form-control" placeholder="Title address" id="exampleInputEmail1">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="customFile">upload image</label>
                    <input type="file" name="image" class="form-control" id="customFile" />
                </div>
                <div class="form-outline mb-3">
                    <textarea name="message"
                    class="form-control" id="textAreaExample" rows="4"></textarea>
                    <label class="form-label" for="textAreaExample">Message</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>


</div>

{% endblock %}