{% load static %}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        {% comment %} {% if user.is_authenticated %} {% endcomment %}
            <a class="navbar-brand font-1" href="{% url 'home' %}">Bazenga hood</a>
        {% comment %} {% else %}
            <a class="navbar-brand font-1" href="{% url 'signIn' %}">Bazenga hood</a>
        {% endif %} {% endcomment %}
        
        <button 
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i> 
        </button>
        <div  class="collapse navbar-collapse"  id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            {% comment %} {% if user.is_authenticated %} {% endcomment %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 font-2">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {% url 'bussiness' %} ">Bussiness</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#footer">Contacts</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0  font-2">
                <li class="nav-item dropdown d-flex">
                    <p class="nav-item mt-3" 
                        id="navbarDropdownMenuLink"
                        role="button"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false"
                    > Action</p>
                    <a class="nav-link " href=" {% url 'profile' %}">
                        <img src="{% static '/images/carbon.png' %}" height="40" width="40" class="rounded-circle" alt="...">
                    </a>
                    <ul  
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="navbarDropdownMenuLink"
                    >
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'signOut' %}">Logout</a>
                    </ul>
                </li>
            </ul>
            {% comment %} {% else %}
                <ul class="navbar-nav mb-2 mb-lg-0  font-2">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'register' %}">Register /</a>
                    </li>
                    <li class="nav-item" style="margin-left:-10px;">
                        <a class="nav-link" href=" {% url 'signIn' %} ">signIn</a>
                    </li>
                </ul>
            {% endif %} {% endcomment %}
        </div>
    </div>
</nav>